<a href="https://colab.research.google.com/github/nikotamajapan/Django_portfolio/blob/main/excel%2001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
import pandas as pd
from glob import glob
import glob
import re
import os

In [63]:
file = glob.glob('/content/*.xlsx')
ff=file[0]
_ff=pd.read_excel(ff)

In [68]:
columns = _ff.iloc[10,[1,2,4,10,11,14]]
columns

Unnamed: 1                 日付
Unnamed: 2              商品コード
Unnamed: 4                 品名
Unnamed: 10      数量[L] or [-]
Unnamed: 11    単価[¥/L] or [¥]
Unnamed: 14                金額
Name: 10, dtype: object

In [ ]:
ff=_ff.iloc[11:23 ,[1,2,4,10,11,14]]
ff

In [75]:
ff.columns = columns
ff

10                   日付    商品コード     品名 数量[L] or [-] 単価[¥/L] or [¥]    金額
11  2020-10-04 00:00:00  GSL0001  レギュラー           20            120  2400
12  2020-10-05 00:00:00  GSL0002   ハイオク           45            160  7200
13  2020-10-06 00:00:00  GSL0003     軽油           50            100  5000
14  2020-10-07 00:00:00  GSL0002   ハイオク           45            160  7200
15  2020-10-08 00:00:00  GSL0003     軽油           50            100  5000
16  2020-10-09 00:00:00  CMT0002   洗車 B            1           1500  1500
17  2020-10-10 00:00:00  GSL0003     軽油           50            100  5000
18  2020-10-11 00:00:00  GSL0002   ハイオク           40            160  6400
19  2020-10-12 00:00:00  GSL0002   ハイオク           30            160  4800
20  2020-10-13 00:00:00  GSL0003     軽油           50            100  5000
21  2020-10-14 00:00:00  GSL0003     軽油           50            100  5000
22                  NaN      NaN    NaN          NaN            NaN     0